@use '../../../shared/assets/styles/abstracts/colors' as *;

.box_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $primary-text;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-shadow: 4px 4px 4px 0px #0000000d;
    background-color: $tertiary;
    border-radius: 30px;
    position: relative;
    padding: 0 0 0 67px;
    width: 100%;
    height: 200px;
    overflow-x: clip;

    .quote {
      width: 50%;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $primary-text;
      z-index: 0;
    }

    .character {
      position: absolute;
      top: -16.4%;
      right: 10%;
    }
  }
}

.quote_box {
  &::before {
    width: 100%;
    content: url('/anchors.png');
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 1380px) {
  .box_container {
    .box {
      .character {
        right: -4%;
      }
    }
  }
}

@media (max-width: 550px) {
  .box_container {
    .quote_box {
      padding: 0;
      justify-content: center;

      .character {
        right: -5%;
        z-index: -1;
        top: -75%;
        width: 210px;
      }

      .quote {
        width: 90%;
      }
    }
  }
}
