@use '../../../../modules/shared/assets/styles/abstracts/colors' as *;

.favorite {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: inherit;
  scrollbar-width: none;

  .left_side {
    width: 100%;
    transition: all 0.2s;
    margin-right: 67px;
    max-width: 750px;
    height: 100%;
    padding: 0 48px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 22px;

    .title {
      font-weight: 700;
      line-height: 30px;
      color: $primary-text;
      font-size: 24px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .arrow_img {
        width: 28px;
        height: 28px;

        svg {
          width: 28px;
          height: 28px;
        }
      }
    }

    .favorite_box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 64px;
      row-gap: 28px;
    }
  }

  .right_side {
    width: fit-content;
    height: 90%;
    padding-right: 48px;

    &_container {
      display: flex;
      flex-direction: column;
      gap: 26px;
    }
  }
}

@media (max-width: 1440px) {
  .favorite {
    .left_side {
      margin-right: 0px;
    }
  }
}

@media (max-width: 1380px) {
  .favorite {
    .left_side {
      margin-right: 45px;
      max-width: 600px;

      .favorite_box {
        column-gap: 0px;
      }
    }
  }
}

@media (max-width: 1255px) {
  .favorite {
    .left_side {
      margin-right: 0px;
    }
  }
}

@media (max-width: 930px) {
  .favorite {
    .left_side {
      max-width: 750px;

      .favorite_box {
        column-gap: 64px;
      }
    }
  }
}

@media (max-width: 720px) {
  .favorite {
    .left_side {
      max-width: 600px;

      .favorite_box {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0px;
      }
    }
  }
}

@media (max-width: 720px) {
  .favorite {
    .left_side {
      .favorite_box {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width: 600px) {
  .favorite {
    .title {
      align-self: flex-start;
    }
    .left_side {
      align-items: center;

      .favorite_box {
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 450px) {
  .favorite {
    .left_side {
      padding: 0 20px;
    }
  }
}
