@use '../../assets/styles/abstracts/colors' as *;

.notification_dropdown {
  .notification {
    padding: 6px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .text {
      font-weight: 500;
      font-size: 12px;
      color: $primary-text;

      span {
        font-weight: 600;
      }
    }

    .time {
      font-weight: 600;
      font-size: 10px;
      color: $primary-text;
      text-wrap: nowrap;
    }
  }
}

.newest_notification {
  background-color: $tertiary;
}
