@use '../../../shared/assets/styles/abstracts/colors' as *;

.code_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ant-otp {
  column-gap: 20px;
  .ant-input {
    width: 67px;
    height: 67px;
    padding: 12px 15px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    background: rgba(255, 239, 232, 0.1);
    box-shadow: none;

    caret-color: $primary-text;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $primary-text;
  }
}

.code_input_container_error {
  .ant-input {
    border-color: $danger !important;
  }
}

@media (max-width: 620px) {
  .ant-otp {
    .ant-input {
      width: 50px;
      height: 50px;
    }
  }
}
