@use '../../../shared/assets/styles/abstracts/colors' as *;

.login_feature_container_btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  width: 100%;

  .login_feature_container_btn_resend {
    cursor: default;
    transition: all 0.2s;
    background: transparent;
    border: none;
    color: $secondary;
    font-weight: 600;
    letter-spacing: -0.07px;
    font-size: 14px;
    line-height: 17px;

    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    a {
      width: 100%;
    }
  }
}

.login_feature_container_btn_resend_error {
  color: $danger !important;
}
