@use '../../../../modules/shared/assets/styles/abstracts/colors' as *;

.available_dishes {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 24px 60px 70px 60px;

  overflow-x: inherit;
  scrollbar-width: none;

  .header {
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    h3 {
      font-weight: 700;
      color: $primary-text;
      font-size: 24px;
    }

    .go_back_btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
      cursor: pointer;

      p {
        font-size: 16px;
        font-weight: 500;
        color: $secondary;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 28px;
  }
}

@media (max-width: 1380px) {
  .available_dishes {
    .body {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (max-width: 925px) {
  .available_dishes {
    .body {
      grid-template-columns: repeat(4, 1fr);
    }

    .header {
      flex-direction: row;
      align-items: center;
      gap: 6px;

      .arrow_img {
        width: 30px;
        height: 30px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .available_dishes {
    .body {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 590px) {
  .available_dishes {
    align-self: center;
    padding: 24px 20px 70px 20px;

    .body {
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .available_dishes {
    .body {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
