@use '../../../../modules/shared/assets/styles/abstracts/colors' as *;

.available_dishes {
  display: flex;
  align-items: flex-start;
  // justify-content: center;
  flex-direction: column;
  gap: 48px;
  padding: 24px 60px 70px 60px;

  overflow-x: inherit;
  scrollbar-width: none;

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    h3 {
      font-weight: 700;
      color: $primary-text;
      font-size: 24px;
    }

    .go_back_btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
      cursor: pointer;

      p {
        font-size: 16px;
        font-weight: 500;
        color: $secondary;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 28px;
  }
}
