$primary: #ffffff;
$secondary: #fa7337;
$tertiary: #fff4ed;
$danger: #ff0000;
$primary-text: #424242;
$secondary-text: #c1270d;
$border: #848484;
$light-border: rgba(132, 132, 132, 0.6);
$hover: #d6311b;
$bg-1: #fef8f4;
$success: #00b020;
$rate: #ffd105;
